<%= form_with model: student do |form| %>
    <div class="student-form-field">
        <%= form.label :"Student Name" %><br>
        <%= form.text_field :name %>
    </div>
    <div class="student-form-field <%= @courses!=nil ? "inactive" : "" %>">
        <%= form.label :"Roll Number" %><br>
        <%= form.text_field :rollNumber %>
        <% @student.errors.full_messages_for(:rollNumber).each do |message| %>
            <div class="student-form-error-msg"><%= message %></div>
        <% end %>
    </div>
    <div class="student-form-field <%= @courses!=nil ? "inactive" : "" %>">
        <%= form.label :"Department Name" %><br>
        <%= form.collection_select :department_id, @departments, :id, :name %>
    </div>
    <div class="student-form-button">
        <%= form.submit %>
    </div>
<% end %>