<div class="course-show">
    <div class="course-show-title">
        <p>Course Details</p>
    </div>
    <div class="course-show-body">
        <div class="course-show-course-name">
            <p class="p-gray">Course Name</p>
            <p><%= @course.name %></p>
        </div>
        <div class="course-show-course-code">
            <p class="p-gray">Course Code</p>
            <p><%= @course.courseCode %></p>
        </div>
    </div>
    <div class="course-show-footer">
        <div class="c-s-f-back-link">
            <%= link_to "back", courses_path%>
        </div>
        <%if @student != nil %>
            <div class="c-s-f-enroll-link 
            <%= (Enroll.find_by(student_id: @student.id, course_id: @course.id) == nil and @course.department_id == @student.department_id)? "" : "inactive" %>">
                <%= button_to "Enroll This Course", student_enrolls_path(@student), params: {enroll: {student_id: @student.id, course_id: @course.id}}%>
            </div>
        <%end%>
    </div>
</div>